.paginado{
/* display: flex;
justify-content: center;
align-items: center;     
flex-grow: initial ; */
display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 5px;
    padding: 20px;
    justify-content: center;
   
    margin:auto;
    cursor:url('../cursor_perrito_.png'), auto;
}



.number{
   
    list-style:none;
    display: flex;
    flex-grow: initial ; 
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
   

}

.img{
    align-items: center;
    background:burlywood;
    background-image: url('../huellita.jpg');
    background-size: 35px 35px;
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 10px;

}